* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

html, body {
  height: 100%;
}

#blocklyDiv {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topBar {
  padding: 15px;
}

.sidePanel {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px 10px;
  border-right: 1px solid rgb(179, 179, 179);
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

#projects > li {
  transition: .1s;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px dashed #333;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: true;
}

#projects > li:hover {
  transform: scale(1.1);
  color: #444444;
}

#newProjectButton {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: .15s;
}

#newProjectButton:hover {

}

.selected {
  border: 1px #333 solid !important;
}

#blackScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

form#projectNameForm {
  background: #eee;
  padding: 30px;
  max-width: 300px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 15px;
  gap: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  font-size: 1.2em;
}

input[type=text] {
  padding: 10px 30px;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #777;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  width: 100%;
}

.buttonGroup > button {
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  background: #ddd;
}

.hidden {
  display: none !important;
}