* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

html, body {
  height: 100%;
}

#blocklyDiv {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topBar {
  padding: 15px;
}

.sidePanel {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px 10px;
  border-right: 1px solid rgb(179, 179, 179);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  width: 100%;
}

#projects > li {
  transition: .05s;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
}

#projects > li:hover {
  transform: scale(1.05);
}

#projects > li:active {
  transform: scale(0.95);
}

#newProjectButton {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: .15s;
  width: 100%;
  font-size: 1.1em;
}

.selected {
  font-weight: bold;
}

#blackScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

form#projectNameForm {
  background: #eee;
  padding: 30px;
  max-width: 300px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 15px;
  gap: 10px;
  box-shadow: 0 4px 10px #33333350;
}

.formGroup {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  font-size: 1.2em;
}

input[type=text] {
  padding: 10px 30px;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #777;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  width: 100%;
}

.buttonGroup > button {
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  background: #ddd;
}

.hidden {
  display: none !important;
}